.menu__box {

    max-width: 100px;
    display: flex;
    border: 1px solid;
    max-height:70px;
    border-radius: 5px ;
    margin-right: 55px;
}

.menu__slider{
    gap: 20px;
}

.menu-con{
    margin-top: 30px;
    max-width: 350px;
}